/* Header Layout */
.header {
  width: 100%;
  padding: 60px 0 0;
  background-color: var(--color-white);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px var(--container-padding);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 531px;
}

.hero__title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}

.hero__description {
  font-size: var(--font-size-h4);
  line-height: 28px;
  max-width: 498px;
}

.hero__illustration {
  max-width: 600px;
}

/* Logotypes section */
.logotypes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--container-padding);
  filter: grayscale(1);
  opacity: 0.7;
}

.logotypes__item {
  height: 48px;
  width: auto;
}
